@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@custom-variant dark (&:is(.dark *));

:root {
  --background: theme(colors.white);
  --foreground: theme(colors.zinc.900);

  --card: theme(colors.white);
  --card-foreground: theme(colors.zinc.900);

  --popover: theme(colors.white);
  --popover-foreground: theme(colors.zinc.900);

  --primary: theme(colors.orange.500);
  --primary-foreground: theme(colors.orange.50);

  --secondary: theme(colors.orange.100);
  --secondary-foreground: theme(colors.orange.700);

  --muted: theme(colors.gray.100);
  --muted-foreground: theme(colors.gray.600);

  --accent: theme(colors.orange.200);
  --accent-foreground: theme(colors.orange.800);

  --destructive: theme(colors.red.600);
  --destructive-foreground: theme(colors.white);

  --border: theme(colors.gray.300);
  --input: theme(colors.gray.200);
  --ring: theme(colors.orange.500);

  --chart-1: theme(colors.blue.500);
  --chart-2: theme(colors.green.500);
  --chart-3: theme(colors.purple.500);
  --chart-4: theme(colors.yellow.500);
  --chart-5: theme(colors.red.500);

  --radius: 0.625rem;

  /* Sidebar */
  --sidebar: theme(colors.white);
  --sidebar-foreground: theme(colors.orange.700);
  --sidebar-primary: theme(colors.orange.600);
  --sidebar-primary-foreground: theme(colors.white);
  --sidebar-accent: theme(colors.orange.100);
  --sidebar-accent-foreground: theme(colors.orange.900);
  --sidebar-border: theme(colors.orange.200);
  --sidebar-ring: theme(colors.orange.400);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.145 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.145 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.985 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.396 0.141 25.723);
  --destructive-foreground: oklch(0.637 0.237 25.331);
  --border: oklch(0.269 0 0);
  --input: oklch(0.269 0 0);
  --ring: oklch(0.439 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.269 0 0);
  --sidebar-ring: oklch(0.439 0 0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply flex flex-col bg-primary-foreground text-foreground min-h-dvh h-dvh;
  }
}

@layer components {
  /* Root layout */
  .main {
    @apply flex flex-col h-full lg:flex-row;
  }
  .root_layout_children_wrapper {
    @apply px-2 py-4 overflow-y-auto bg-white lg:px-4 grow lg:bg-inherit;
  }

  /* Full size panel */
  .panel {
    @apply w-full min-h-full px-2 py-4 bg-white lg:rounded-xl lg:px-6 lg:py-6 lg:border lg:border-accent;
  }

  /* Centered Article Panel */
  .card {
    @apply flex flex-col w-full max-w-xl px-2 py-4 mx-auto bg-white gap-y-6 lg:shadow-lg lg:border lg:border-accent lg:rounded-xl lg:px-6 lg:py-6;
  }
  .centered_panel {
    @apply flex flex-col min-h-full lg:justify-center;
  }

  /* Header (mobile view) */
  .header {
    @apply flex items-center justify-between px-4 py-2 bg-white border-b shadow-sm lg:hidden border-accent;
  }
  .header_brand {
    @apply block text-2xl font-bold text-orange-500;
  }
  .header_links {
    @apply flex flex-col mt-4 space-y-2 grow;
  }
  .header_link {
    @apply block px-4 py-3 transition-colors rounded-lg;
  }
  .header_link_active {
    @apply font-semibold bg-sidebar-primary text-sidebar-primary-foreground;
  }
  .header_link_inactive {
    @apply hover:bg-sidebar-accent hover:text-sidebar-accent-foreground;
  }

  /* Sidebar (lg view) */
  .sidebar {
    @apply flex-col justify-between hidden w-64 h-full px-4 py-2 border-r shrink-0 lg:flex bg-sidebar-primary-foreground max-h-dvh text-sidebar-foreground border-sidebar-border;
  }
  .sidebar_brand {
    @apply block py-4 text-2xl font-bold text-orange-500;
  }
  .sidebar_links {
    @apply flex flex-col mt-4 space-y-2 grow;
  }
  .sidebar_link {
    @apply block px-4 py-3 transition-colors rounded-lg;
  }
  .sidebar_link_active {
    @apply font-semibold bg-sidebar-primary text-sidebar-primary-foreground;
  }
  .sidebar_link_inactive {
    @apply hover:bg-sidebar-accent hover:text-sidebar-accent-foreground;
  }

  /* Analog Timer */
  .analog_timer_container {
    @apply relative flex items-center justify-center w-full h-full;
  }
  .analog_timer_hour_hand {
    @apply absolute z-10 w-2 h-12 origin-bottom -translate-x-1 bg-gray-900 rounded-full bottom-1/2 left-1/2 sm:h-20;
  }
  .analog_timer_minute_hand {
    @apply absolute z-10 w-2 h-20 origin-bottom -translate-x-1 bg-gray-900 rounded-full bottom-1/2 left-1/2 sm:h-32;
  }
  .analog_timer_second_hand {
    @apply absolute bottom-1/2 left-1/2 z-30 w-1 h-24 sm:h-40 origin-bottom bg-red-800 rounded-full -translate-x-0.5;
  }
  .analog_timer_center_circle {
    @apply absolute z-40 w-4 h-4 bg-black rounded-full;
  }
}
